<nav class="navbar navbar-dark w-100<%= ' position-absolute' if @absolute %>">
  <div class="container">
    <%= link_to root_url, class: 'navbar-brand' do %>
      gui
    <% end %>
    <ul class="navbar-nav flex-row">
      <li class="nav-item ml-5">
        <%= link_to 'portfolio', projects_path, class: 'nav-link' %>
      </li>
      <li class="nav-item ml-5">
        <%= link_to 'blog', articles_path, class: 'nav-link' %>
      </li>
      <li class="nav-item ml-5">
        <%= link_to 'hire me', '', class: 'nav-link font-weight-bold' %>
      </li>
    </ul>
  </div>
</nav>
